#logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.floating-menu {
    font-family: sans-serif;
    background: yellowgreen;
    padding: 16px;
    width: 100%;
    z-index: 100;
    position: fixed;
}
.floating-menu a {
    text-decoration: none;
    float: right;
}
